{{#section "css"}}
  <link href="/static/css/home.css" rel="stylesheet" />
{{/section}}

{{#section "js"}}
  <script>
    console.log('Hello from the client side');
    const gBoardLocation = JSON.parse('{{{boardLocation}}}');

    const gBoards = JSON.parse('{{{billboards}}}');
    console.log('test1')

    const gReport = JSON.parse('{{{reports}}}');
    console.log(gBoardLocation);
    console.log(gBoards);
  </script>

  <script>
    // Add an event listener to the logout link
    document.getElementById('logout').addEventListener('click', function () { 
      //Show the logout modal
     $('#logoutModal').modal('show');
    });
  </script>

  <script>
    // Add an event listener to the cancel button
    document.getElementById('cancel').addEventListener('click', function () {
    //Hide the logout modal 
      $('#logoutModal').modal('hide'); 
    });
  </script>
{{/section}}



<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul
    class="navbar-nav sidebar sidebar-dark accordion"
    id="accordionSidebar"
    style="background: linear-gradient(45deg, #5c7ea1, #509177);"
  >
  
    {{#if isSuperAdmin}}
      {{> sidebarDepartment}}
    {{else}}
      {{> sidebarWard}}
    {{/if}}

  </ul>

  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">

    </div>
  </div>
  </div>

    <div id="sub-window">
      <div class="carousel slide mt-4" data-bs-ride="carousel" id="img-billboard" style="height: 240px;">
        <div class="carousel-inner" id="carousel-location">
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#img-billboard"
          data-bs-slide="prev">
          <span
            class="carousel-control-prev-icon shadow"
            aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#img-billboard"
          data-bs-slide="next">
          <span
            class="carousel-control-next-icon shadow"
            aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>  
      <div class="of-scroll">
        <div class="overflow-content"></div>
      </div>

      <!-- <div class = 'detail-infor'>

      </div> -->

      <button id="btn-collapse">
        <div>
          <i class="bi bi-arrow-left-short" style="font-size: 15px;"></i>
        </div>
      </button>
      <script>
        document.querySelector('#btn-collapse').onclick = () => {
          var subwindow = document.getElementById('sub-window');
          if (subwindow.classList.contains('narrow')){
            subwindow.classList.remove('narrow')
            document.querySelector('#btn-collapse').innerHTML = '<div><i class="bi bi-arrow-left-short" style="font-size: 15px;"></i></div>'
          }
          else {
            subwindow.classList.add('narrow');
            document.querySelector('#btn-collapse').innerHTML = '<div><i class="bi bi-arrow-right-short" style="font-size: 15px;"></i></div>'
          }
        };
      </script>
    </div>
  
    <div id="legend">
      <div style="overflow: hidden;">
        <h4 style="text-align: center;">Ký hiệu</h4>
        <table>
         <tr>
         <th></th>
         <th>Quảng cáo</th>
         <th>Quy hoạch</th>
         </tr>
         <tr>
           <td style="text-align: center;"><img src="/static/map/img/icon/ad_plan.png" style="width: 30px;"></td>
           <td style="text-align: center;"><img src="/static/map/img/icon/legend/icons8-done.svg"style="width: 15px;"/></td>
           <td style="text-align: center;"><img src="/static/map/img/icon/legend/icons8-done.svg" style="width: 15px;"/></td>
         </tr>
         <tr>
           <td style="text-align: center;"><img src="/static/map/img/icon/ad_no_plan.png" style="width: 30px;"></td>
           <td style="text-align: center;"><img src="/static/map/img/icon/legend/icons8-done.svg" style="width: 15px;"/></td>
           <td style="text-align: center;"><img src="/static/map/img/icon/legend/icons8-close.svg" style="width: 15px;"/></td>
         </tr>
         <tr>
           <td style="text-align: center;"><img src="/static/map/img/icon/no_ad_plan.png" style="width: 30px;"></td>
           <td style="text-align: center;"><img src="/static/map/img/icon/legend/icons8-close.svg" style="width: 15px;"/></td>
           <td style="text-align: center;"><img src="/static/map/img/icon/legend/icons8-done.svg" style="width: 15px;"/></td>
         </tr>
         <tr>
           <td style="text-align: center;"><img src="/static/map/img/icon/no_ad_no_plan.png" style="width: 30px;"></td>
           <td style="text-align: center;"><img src="/static/map/img/icon/legend/icons8-close.svg" style="width: 15px;"/></td>
           <td style="text-align: center;"><img src="/static/map/img/icon/legend/icons8-close.svg" style="width: 15px;"/></td>
         </tr>
         <tr>
          <td style="text-align: center;"><img src="/static/map/img/icon/Report.png" style="width: 30px;"/></td>
          <td colspan="2" style="text-align: center;">Báo cáo</td>
         </tr>
        </table>

      </div>
      
     <button id="collapse-legend">
      <div>
        <i class="bi bi-arrow-right-short" style="font-size: 15px;"></i>
      </div>
    </button>
    <script>
      document.querySelector('#collapse-legend').onclick = () => {
        var legend = document.getElementById('legend');
        if (legend.classList.contains('narrow')){
          legend.classList.remove('narrow')
          document.querySelector('#collapse-legend').innerHTML = '<div><i class="bi bi-arrow-right-short" style="font-size: 15px;"></i></div>'
        }
        else {
          legend.classList.add('narrow');
          document.querySelector('#collapse-legend').innerHTML = '<div><i class="bi bi-arrow-left-short" style="font-size: 15px;"></i></div>'
        }
      };
    </script>
    </div>
<!-- Current location button -->
<div class="location-button" id="btnCurPosition">
  <div class="location-icon">
    <i class="bi bi-crosshair"></i>
  </div>
</div>

<!-- Hiển thị thông tin vị trí khi nhấn -->
<div id="info">
  <span id="close-button">&times;</span>
  <h2>Thông tin vị trí</h2>
  <p id="location-info"></p>
</div>

<!-- Search box -->
<input
  id="pac-input"
  class="controls"
  type="text"
  placeholder="&#xF002; Search Address"
/>
<div id="filter">
  <div class="form-check form-switch" id="switch">
    <input class="form-check-input" type="checkbox" role="switch" id="btnAds" />
    <label class="form-check-label" for="btnAds" id="ads">Bảng QC</label>
  </div>
  <div class="form-check form-switch" id="switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckDefault"
    />
    <label class="form-check-label" for="flexSwitchCheckDefault" id="report">
      Báo cáo vi phạm
    </label>
  </div>
</div>