{{#section "js"}}
  <script src="../../static/js/forgotPassword.js"></script>
{{/section}}
<div class="col-md-6 col-lg-7 d-flex align-items-center" id="form-bg">
  <div class="card-body p-4 p-lg-5 text-black" id="form-text">
    <form id="forgotPasswordForm" action="">
      <div class="d-flex align-items-center mb-3 pb-1">
      </div>

      <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">
        Xác thực Email
      </h1>

      <div class="form-outline mb-4">
        <label class="form-label" for="txtUsername">
          Email
        </label>
        <input
          type="txt"
          id="txtUsername"
          class="form-control form-control-lg"
          name="username"
          autofocus
        />
      </div>

      <div class="pt-1 mb-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit">
          Gửi mail
        </button>
      </div>
    </form>
  </div>
</div>