{{#section "js"}}
  <script src="../../static/js/verifyOTP.js"></script>
{{/section}}
{{#section "css"}}
  <link rel="stylesheet" href="../../static/css/style.css" />
{{/section}}

{{! <section class='container-fluid bg-body-tertiary d-block'>
  <div class='row justify-content-center'>
    <div class='col-12 col-md-6 col-lg-4' style='min-width: 500px;'>
      <div class='card bg-white mb-5 mt-5 border-0' style='box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);'>
        <div class='card-body p-5 text-center'>
          <h4>
            Verify
          </h4>
          <p>
            Your code was sent to you via email
          </p>

          <div class='otp-field mb-4'>
            <input type='number' />
            <input type='number' disabled />
            <input type='number' disabled />
            <input type='number' disabled />
            <input type='number' disabled />
            <input type='number' disabled />
          </div>

          <button class='btn btn-primary mb-3'>
            Verify
          </button>

          <p class='resend text-muted mb-0'>
            Didnot receive code?
            <a href='#'>
              Request again
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section> }}
<div class="col-md-6 col-lg-7 d-flex align-items-center" id="form-bg">
  <div class="card-body p-4 p-lg-5 text-black" id="form-text">
    <form id="forgotPasswordForm" action="">
      <div class="d-flex align-items-center mb-3 pb-1">
      </div>

      <h1
        class="fw-normal mb-2 pb-3 d-flex justify-content-center"
        style="letter-spacing: 1px;"
      >
        Xác nhận mã OTP
      </h1>

      <p class="d-flex justify-content-center mt-1 mb-2">
        Nhập mã OTP đã được gửi đến email của bạn
      </p>

      <div class="form-outline mb-4">
        <div class="otp-field mb-4">
          <input type="number" />
          <input type="number" disabled />
          <input type="number" disabled />
          <input type="number" disabled />
          <input type="number" disabled />
          <input type="number" disabled />
        </div>
      </div>

      <div class="pt-1 mb-4 d-flex justify-content-center">
        <button class="btn btn-primary mb-3">
          Xác nhận
        </button>
      </div>
    </form>
  </div>
</div>