<div class='sidebar-brand d-flex align-items-center justify-content-center'>
  <div class='sidebar-brand-text mt-5'>
    ADVERTISING BOARDS MANAGEMENT
  </div>
</div>

<!-- Divider -->
<hr class='sidebar-divider my-0' />

<!-- Nav Item - Dashboard -->
<li class='nav-item'>
  <a class='nav-link mt-5' href='/admin'>
    <i class='bi bi-house'></i>
    <span>
      TRANG CHỦ
    </span>
  </a>
</li>
<!-- Divider -->
<hr class='sidebar-divider' />
<!-- Heading -->
<div class='sidebar-heading'>
  QUẢN LÝ
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class='nav-item'>
  <a class='nav-link' href='/boardsLocation' id='option'>
    <i class='bi bi-clipboard-data'></i>
    <span>
      Điểm đặt quảng cáo
    </span>
  </a>
</li>

<!-- Nav Item - Pages Collapse Menu -->
<li class='nav-item'>
  <a class='nav-link' href='/areas' id='option'>
    <i class='bi bi-clipboard-data'></i>
    <span>
      Danh sách phường, quận
    </span>
  </a>
</li>

<!-- Nav Item - Pages Collapse Menu -->
<li class='nav-item'>
  <a class='nav-link' href='/advForms' id='option'>
    <i class='bi bi-flag-fill'></i>
    <span>
      Hình thức quảng cáo
    </span>
  </a>
</li>

<!-- Divider -->
<hr class='sidebar-divider' />
<!-- Heading -->
<div class='sidebar-heading mt-4'>
  Xử lý báo cáo
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class='nav-item'>
  <a class='nav-link' href='/reports' id='option'>
    <i class='bi bi-clipboard-data'></i>
    <span>
      Xem danh sách
    </span>
  </a>
</li>

<!-- Nav Item - Pages Collapse Menu -->
<li class='nav-item'>
  <a class='nav-link' href='/reportMethods' id='option'>
    <i class='bi bi-flag-fill'></i>
    <span>
      Phương thức báo cáo
    </span>
  </a>
</li>

<!-- Divider -->
<hr class='sidebar-divider' />
<!-- Heading -->
<div class='sidebar-heading mt-4'>
  Xét duyệt và cấp phép
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class='nav-item'>
  <a class='nav-link' href='http://localhost:4000/api/v1/license/list?page=1' id='option'>
    <i class='bi bi-clipboard-data'></i>
    <span>
      Xét duyệt bảng quảng cáo
    </span>
  </a>
</li>

<li class='nav-item'>
  <a class='nav-link' href='/boardLocationRequest' id='option'>
    <i class='bi bi-clipboard-data'></i>
    <span>
      Xét duyệt điểm quảng cáo
    </span>
  </a>
</li>

<li class='nav-item'>
  <a class='nav-link' href='/licenseAccount' id='option'>
    <i class='bi bi-person-fill'></i>
    <span>
      Cấp phép tài khoản
    </span>
  </a>
</li>

<li class='nav-item'>
  <a class='nav-link' href='/assignment' id='option'>
    <i class="bi bi-textarea"></i>
    <span>
      Phân công khu vực
    </span>
  </a>
</li>

<a class='sidebar-heading mt-5' id='changePass' href='/accountSetting'>
  LỌC PHƯỜNG, QUẬN
</a>

<a class='sidebar-heading mt-5' id='changePass' href='/resetPassword'>
  ĐỔI MẬT KHẨU
</a>
<!-- Log out -->
<a class='sidebar-heading mt-3 mb-5' id='logout' href='http://localhost:4000/logout'>
  ĐĂNG XUẤT
</a>